In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('acidentes2020.csv', encoding="UTF-8", delimiter = ';', error_bad_lines = False)

# Categorical data into numeric

In [3]:
from sklearn.preprocessing import LabelEncoder as le

In [4]:
df.dropna(inplace=True)

In [31]:
x = df[['Date', 'Weekday', 'City', 'Time', 'UF', 'Weather', 'Latitude', 'Longitude', 'Veicule age', 'Victim age', 'Victim gender']]
y = df['Accident type'] 
y

0         Saída de leito carroçável
1         Saída de leito carroçável
3         Saída de leito carroçável
4                  Colisão traseira
5         Saída de leito carroçável
                    ...
104374          Colisão transversal
104375    Saída de leito carroçável
104378             Colisão traseira
104379             Colisão traseira
104380             Colisão traseira
Name: Accident type, Length: 89826, dtype: object

In [12]:
x.head()

,Date,Weekday,City,Time,UF,Weather,Latitude,Longitude,Veicule age,Victim age,Victim gender
0,01/01/2020,QUA,SAO FRANCISCO DO PARA,05:40,PA,Sol,"-1,3101929","-47,74456398",2008.0,38.0,Masculino
1,01/01/2020,QUA,SAO FRANCISCO DO PARA,05:40,PA,Sol,"-1,3101929","-47,74456398",2008.0,14.0,Masculino
3,01/01/2020,QUA,CANUDOS,06:00,BA,Nublado,"-10,32002103","-39,06425211",2015.0,64.0,Masculino
4,01/01/2020,QUA,APARECIDA,10:08,SP,Sol,"-22,85651665","-45,23114328",2015.0,57.0,Masculino
5,01/01/2020,QUA,JUATUBA,12:10,MG,Sol,"-19,947864","-44,381226",2007.0,54.0,Masculino

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
x = x.iloc[ :, : ].values
x[ : ,0] = label_encoder.fit_transform(x[ :, 0])
x[ : ,1] = label_encoder.fit_transform(x[ :, 1])
x[ : ,2] = label_encoder.fit_transform(x[ :, 2])
x[ : ,3] = label_encoder.fit_transform(x[ :, 3])
x[ : ,4] = label_encoder.fit_transform(x[ :, 4])
x[ : ,5] = label_encoder.fit_transform(x[ :, 5])
x[ : ,10]= label_encoder.fit_transform(x[ :, 10])


x

array([[0, 1, 1433, ..., 2008.0, 38.0, 2],
       [0, 1, 1433, ..., 2008.0, 14.0, 2],
       [0, 1, 328, ..., 2015.0, 64.0, 2],
       ...,
       [259, 5, 1458, ..., 2011.0, 58.0, 2],
       [259, 5, 1458, ..., 2011.0, 18.0, 2],
       [259, 5, 1458, ..., 2012.0, 52.0, 2]], dtype=object)

In [32]:
y = y.iloc[ :, : ].values
y = label_encoder.fit_transform(y)
y

IndexingError: Too many indexers

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.333)
y_train

42298                Colisão traseira
92837                      Tombamento
29960                Colisão traseira
24689                Colisão traseira
100510      Saída de leito carroçável
                     ...
78260             Colisão transversal
8745                  Colisão frontal
82704     Colisão com objeto estático
28077                      Tombamento
13826             Colisão transversal
Name: Accident type, Length: 59913, dtype: object

In [9]:
model = xgb.XGBClassifier()

NameError: name 'xgb' is not defined

In [ ]:
model.fit()